{% extends "app/base.html" %}

{% load static %}

{% block content %}
    <h1>Home</h1>
    
    <div class="home-content">
        <p>Bienvenido al sitio web del Club MasterVolley. Aquí encontrarás toda la información sobre nuestros eventos, actividades y noticias relacionadas con el voleibol.</p>
        <p>Navega por nuestro sitio para conocer más sobre nuestros próximos eventos, cómo unirte al club y las últimas novedades en el mundo del voleibol.</p>
    </div>


{% endblock %}